* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body {
    font-family: 'Gilda Display', serif;
}
div#container {
    text-align: center;
}
section {
    width: 100%;
    padding: 3.0em 0;
    min-height: 450px;
}
code {
    background: rgba(255,255,255,0.5);
    padding: 8px;
    border-radius: 5px;
    display: block;
    text-align: left;
}

/* title */
h1.title span {
    padding-bottom: 3px;
}
span.title-c {
    border-bottom: solid 6px #39CCCC;
}
span.title-s1 {
    border-bottom: solid 6px #7FDBFF;
}
span.title-s2 {
    border-bottom: solid 6px #0074D9;
}
span.title-rest {
    border-bottom: solid 6px #000;
}

/* intro section */
#intro {

}
#intro h1 {
    font-size: 3.0em;
}
#intro h2 {
    color: #777;
}
#intro figure {
    margin: 5px;
    text-align: left;
}
#intro-images img {
    height: 240px;
}

#intro-images > div {
    display: inline-block;
}
#intro-images div p.description {
    padding: 3px;
    margin: 0.5em 0;
    color: #AAA;
}

section h3 {
    padding: 3px;
    display: inline-block;
    border-bottom: solid 1px;
}
section div.section-content {
    width: 720px;
    margin: 0 auto;
    text-align: left;
}

/* setup section */
#setup {
    /*background: rgba(50,200,150,0.8);*/
    background: #39CCCC;
}

/* usage section */
#usage {
    /*background: rgba(100,50,150,0.6);*/
    background: #7FDBFF;
}
.usage-example {
    border-bottom: 3px solid rgba(250,250,250,0.6);
    padding-bottom: 1.0em;
}
div.usage-example figure {
    margin: 1.0em 0;
}
div.usage-example figure img {
    width: 300px;
}

/* feature section */
#feature {
    /*background: rgba(50,150,200,0.8);*/
    background: #0074D9;
}

/* feature table */
table#features-table tr {
}
table#features-table tr td {
    padding-right: 1.0em;
}
table.feature-table {
    margin: 1.0em;
}
table.feature-table tr {
}
table.feature-table td {
}
