* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body {
    font-family: 'Gilda Display', serif;
}
div#container {
    text-align: center;
}
section {
    width: 100%;
    padding: 1.0em 0;
    min-height: 450px;
}

/* intro section */
#intro {

}
#intro h1 {
    font-size: 3.0em;
}
#intro h2 {
    color: #777;
}
#intro figure {
    margin: 5px;
}
#intro img {
    height: 240px;
}

/* setup section */
#setup {
    background: rgba(50,200,150,0.8);
}

/* usage section */
#usage {
    background: rgba(100,50,150,0.6);
}

/* other section */
#other {
    background: rgba(50,150,200,0.8);
}
/*
#container {
	width: 840px;
	margin: 0 auto;
	padding: 0;
	position: relative;
}
#content {
	position: absolute;
	top: 50px;
}
header {
	display: block;
	width: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 1;
	background: rgba(200,200,200,0.7);
}
#headerContent {
	width: 840px;
	margin: 0 auto;
}
footer {
	margin-top: 0.5em;
	padding: 0.5em;
	font-size: smaller;
}
div.example {
	padding: 1.0em;
	border-bottom: 1px solid rgba(200,200,200,1.0);
}
figure.img1 {
	width: 400px;
}
figure.img2 {
	width: 300px;
}
code {
	color: rgba(200,200,200,1.0);
}
a {
	text-decoration: none;
	color: rgba(200,50,50,1.0);
}
a:hover {
	color: rgba(170,20,20,1.0);
	border-bottom: dotted 1px rgba(170,20,20,1.0);
}
*/
