/* 
 * CaptionSS
 * a pure-CSS image caption library
 */

/*** Base Caption Styles ***/
figure {
	display: inline-block;
	position: relative;
	margin: 0em;
	color: rgba(50,50,50,1.0);
	background: white;
}
figure img {
	width: 100%;
	display: block;
}
figure figcaption {
	width: auto;
	padding: 0.5em;
}

/*** Various Caption Styles ***/

/* use the crunched, compacted style */
figure.cap-crunched {
	font-size: smaller;
}
figure.cap-crunched figcaption{
	padding: 0.2em;
}

/* underlined in gray */
figure.cap-simple {
	
}
figure.cap-simple figcaption {
	border-bottom: 1px solid rgba(50,50,50,1.0);
}

/* background in light gray, bordered in medium gray */
figure.cap-outer-bottom {
	
}
figure.cap-outer-bottom figcaption {
	background: rgba(200,200,200,1.0);
	border: 1px solid rgba(150,150,150,1.0);
}

/* use the dark theme */
figure.cap-dark {
	color: rgba(230,230,230,1.0);
}
figure.cap-dark figcaption {
	background: rgba(50,50,50,1.0);
}